$lightGreen: #b9e7e7;

.app {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .container {
        width: 64rem;

        .link {
            text-decoration: none;
            color: inherit;
        }

        /* LOGIN & REGISTER */

        .auth {
            width: 40%;
            margin: auto;
            box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.6);

            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            // height: 100v h;
            img {
                width: 20%;
                margin: auto;
                display: flex;
                padding: 2.4rem 0 0;
            }

            form {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding: 2rem;

                input {
                    margin-top: 1.2rem;
                    border: 0;
                    border-bottom: 0.1rem solid lightgray;
                    padding: 1rem;
                    margin-bottom: 1rem;

                    &:focus {
                        border-bottom: 0.3rem solid gray;
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    border-color: lightgray;
                    border-radius: .15rem;
                    -webkit-border-radius: .15rem;
                    -moz-border-radius: .15rem;
                    -ms-border-radius: .15rem;
                    -o-border-radius: .15rem;
                    padding: 1rem;
                    font-size: 1rem;

                    &:hover {
                        background-color: gray;
                        cursor: pointer;
                    }
                }

                p {
                    font-size: 0.75rem;
                    color: red;
                    text-align: center;
                }

                span {
                    margin: 1rem;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;

                    .alter {
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        color: '#2874f0';
                        height: 2.3rem;
                        border-radius:.2rem ;
                        background-color: white;
                        box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.6);
                        -webkit-border-radius:.2rem ;
                        -moz-border-radius:.2rem ;
                        -ms-border-radius:.2rem ;
                        -o-border-radius:.2rem ;
}
                }
            }

            // h1 {
            //     font-size: 1.25rem;
            //     color: black;
            //     margin-bottom: 1.25rem;
            // }

            // form {
            //     display: flex;
            //     flex-direction: column;
            //     padding: 3.125rem;
            //     background-color: white;
            //     width: 12.5rem;
            //     gap: 1.25rem;

            //     input {
            //         padding: 0.625rem;
            //         border: none;
            //         border-bottom: 0.0625rem solid gray;
            //     }

            //     button {
            //         padding: 0.625rem;
            //         border: none;
            //         background-color: lightgray;
            //         cursor: pointer;
            //         color: white;

            //         &:hover{
            //             background-color: gray;
            //         }
            //     }





            //     span {
            //         font-size: 0.75rem;
            //         text-align: center;
            //     }
            // }
        }

        /* NAVBAR */

        .navbar {
            .container {
                background-color: lightgray;
                padding: 0.625rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    margin-left: 1rem;

                    img {
                        width: 7.5rem;
                    }
                }

                .main {
                    display: flex;
                    flex-direction: column;

                    .top {
                        h1 {
                            font-size: 4rem;
                            font-style: italic;
                            text-align: center;
                        }
                    }

                    .links {
                        margin-left: 1rem;
                        display: flex;
                        align-items: center;
                        gap: 0.625rem;

                        h6 {
                            font-size: 1rem;
                            font-weight: 300;
                        }

                        span {
                            margin-right: 1rem;
                            cursor: pointer;
                            font-style: italic;
                            font-size: 1rem;
                        }

                        .write {
                            background-color: white;
                            width: 3.125rem;
                            height: 3.125rem;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 300;
                            border: 0.0625rem solid black;

                            &:hover {
                                color: lightgray;
                                background-color: white;
                                border: 0.0625rem solid gray;
                            }
                        }
                    }
                }

            }
        }

        /* FOOTER */

        footer {
            margin-top: 6.25rem;
            padding: 1.25rem;
            background-color: lightgray;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.75rem;

            img {
                height: 3.125rem;
            }
        }

        /* HOME */

        .home {
            .posts {
                margin-top: 3.125rem;
                display: flex;
                flex-direction: column;
                gap: 9.375rem;

                .post {
                    display: flex;
                    gap: 6.25rem;

                    &:nth-child(2n + 1) {
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 2;
                        position: relative;

                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: lightgray;
                            position: absolute;
                            top: 1.25rem;
                            left: -1.25rem;
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            max-height: 25rem;
                            object-fit: cover;
                        }
                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            font-size: 3rem;
                        }

                        p {
                            font-size: 1.125rem;
                        }

                        button {
                            width: max-content;
                            padding: 0.625rem 1.25rem;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 0.0625rem solid gray;
                            color: black;

                            &:hover {
                                border: 0.0625rem solid white;
                                background-color: gray;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        /* SINGLE */

        .single {
            display: flex;
            gap: 3.125rem;
            margin-top: 3rem;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 1.875rem;

                img {
                    max-width: 40rem;
                    max-height: 25rem;
                    width: auto;
                    height: auto;
                    // object-fit: cover;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 0.625rem;
                    font-size: 0.875rem;
                    margin: auto;

                    img {
                        width: 3.125rem;
                        height: 3.125rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                        font-style: italic;
                        font-size: 3rem;
                    }
                }

                .edit {
                    display: flex;
                    gap: 0.3125rem;

                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-size: 2.625rem;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 1.875rem;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 1.5625rem;

                h1 {
                    font-size: 1.25rem;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 0.625rem;

                    img {
                        width: 100%;
                        height: 12.5rem;
                        object-fit: cover;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        width: max-content;
                        padding: 0.46875rem 0.9375rem;
                        border: none;
                        cursor: pointer;
                        color: black;
                        background-color: white;
                        border: 0.0625rem solid gray;

                        &:hover {
                            border: 0.0625rem solid white;
                            background-color: gray;
                            color: white;
                        }
                    }
                }
            }
        }

        /* WRITE */

        .add {
            margin-top: 1.25rem;
            display: flex;
            gap: 1.25rem;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                input {
                    padding: 0.625rem;
                    border: 0.0625rem solid lightgray;
                }

                .editorContainer {
                    height: 18.75rem;

                    height: 18.75rem;
                    /* 300px divided by 16px */
                    overflow: scroll;
                    border: 0.0625rem solid lightgray;
                    /* 1px divided by 16px */

                    .editor {
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                .item {
                    border: 0.0625rem solid lightgray;
                    padding: 0.625rem;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 0.75rem;
                    color: #555;

                    h1 {
                        font-size: 1.25rem;
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 0.0625rem solid teal;
                            padding: 0.1875rem 0.3125rem;
                        }

                        :last-child {
                            cursor: pointer;
                            color: white;
                            background-color: gray;
                            border: 0.0625rem solid black;
                            padding: 0.1875rem 0.3125rem;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 0.125rem;
                        color: gray;
                    }
                }
            }
        }
    }
}